.scroll1 {
  float: right;
  padding-left: 100px;
}

.scroll2 {
  float: right;
  padding-left: 100px;
  padding-right: 100px;
}

.hourstable {
  border:1px solid;
  border-color: black;
}
/* Nav Bar */
.nav-table {
position: absolute;
width:100%;}
