.scroll1 {
  float: right;
  padding-left: 100px;
}

.scroll2 {
  float: right;
  padding-left: 100px;
  padding-right: 100px;
}
.nav-table 
{position: absolute;
width: 1443px;
height: 103px;
left: 0px;
top: 0px;}

 
.team-greet {
position: absolute;
width: 353px;
height: 102px;
left: 543px;
top: 1408px;
border: 3px solid #54D4F0;}

table, tr, td, th {
  border:2px solid black;
}

.color-block2 {background-color:#54D4F0;
position: absolute;
width: 1508px;
height: 272px;
left: -34px;
  top: 2428px;}
  
.right {text-align: right;
position: absolute;
width: 257px;
height: 79px;
left: 672px;
top: 319px;}

.right2 {text-align: right;
position: absolute;
width: 674px;
height: 74px;
left: 672px;
top: 422px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
color: #000000;
}

.nav-table.nav-td {text-decoration: none;
text-align: "center";}
  
.color-block {
background-color:#54D4F0;
position: absolute;
width: 100px;
height: 150px;
left: 0px;
top: 955px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;
color: #001664;}
  
.bunny {position: absolute;
left: 118px;
top: 100px;}
