.scroll1 {
  float: right;
  padding-left: 100px;
}

.scroll2 {
  float: right;
  padding-left: 100px;
  padding-right: 100px;
}
.nav-table {
position: absolute;
width:100%;}
 
.team-greet {
text-align: center;}

#hourstable {
  border:2px solid black;
}

.hoursbtn {
  
position: absolute;
width: 226.49px;
height: 79.1px;
left: 672.2px;
top: 566.38px;

background: #00C3A1;
border-radius: 18px;}

